@import 'vars';
@import '~bootstrap/scss/bootstrap';
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230075ff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230075ff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}



.supMargin{
	height: 45px;
}

.ligthBorder{
	border-bottom: solid 1px $lineColor;
}

.menuButton{
	font-size:$fontSizeMenu;
	&:hover{
		border-bottom: solid 2px $lineColorHover;
		padding-bottom: 1px;
		cursor:pointer;
	}
}

.menuButtonBot{
	font-size:$fontSizeMenuBot;
	&:hover{
		border-top: solid 2px $lineColorHover;
		cursor:pointer;
	}
}

.minusOne{
	margin-top:-1px;
}

.menuButtonOn{
	font-size:$fontSizeMenu;
	font-weight:600;
	padding-bottom: 1px;	
	border-bottom: solid 2px $lineColorHover;
	
}

.nameTitle{
    font-size: $fontSizeName;
    background: white;
    padding-left: 10px;
    padding-right: 4px;
    min-width: 225px;
    position: relative;
    margin-top: -35px;

}

.maxHMenu{
	height:30px;
}

